{% extends "login_base.html" %}

{% block form %}
<h1 class="h1 text-light">Login</h1>
<form method="POST" action="/login">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus=""
                   value="{{ request.form['email'] }}">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input is-large" type="password" name="password" placeholder="Your Password">
        </div>
    </div>
    <button class="btn btn-outline-secondary my_button" type="submit">Login</button>
</form>
<a href="{{ url_for('auth.signup') }}" style="color: #097EE5">Sign up</a>
{% endblock %}